GunProjectBuild/Frameworks/com.ptc.vuforia.engine/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia filter=lfs diff=lfs merge=lfs -text
GunProjectBuild/Libraries/libil2cpp.a filter=lfs diff=lfs merge=lfs -text
GunProjectBuild/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
